{% extends 'base.html' %} {% block title %} Home {% endblock%} 
{% block content%}
<h1> Hello chatroom </h1>
{% endblock %}
<!--<div class="px-4 py-5 text-center bg-dark text-white">
    <input type="text" id="message" class="my-3 form-control-sm w-25" placeholder="Message" aria-label="Message" aria-describedby="basic-addon1" required>
    <button type='button' id="messagebtn" class='btn btn-secondary btn-large px-3 mx-1' onClick="sendMessage()">Type Message</button>
</div>
<div class="px-4 py-5 text-center bg-dark text-white" id="messagebox">
    <h3>Message content</h3>
</div>
{%endblock%}
{% block jsScript%}
<script>
    const nickname = document.getElementById("nickname")
    var proceed = false
    var data =''
    let connected = false
    nickname.addEventListener("input", (e)=>{
        if(e.target.value){
            proceed=true
            data=e.target.value
            document.getElementById("globalbtn").className = 'btn btn-primary btn-large px-3 mx-1'
        }else{
            proceed=false
            data=''
            document.getElementById("globalbtn").className = 'btn btn-secondary btn-large px-3 mx-1'
        }
    })
    let chatSocket = null
    function joinGloabl() {
        if(proceed){
            chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/chat/global/'
            )
            console.log("Button clicked!")
        chatSocket.onopen = function(e) {
            connected = true
            console.log("Joined global chat")}
            }
    }

    function sendMessage(){
        if(connected){
            document.getElementById("globalbtn").className = 'btn btn-primary btn-large px-3 mx-1'
            const message = document.getElementById("message").value
            chatSocket.send(JSON.stringify({
                'message': message
            }))
            document.getElementById("message").value = ''
        }
    }
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data.message;
        
        setMessage(message);
    };

    function setMessage(message){
        var msg = document.createElement('h3');

        var message = document.createTextNode(message);
        msg.appendChild(message);

        var container = document.getElementById('messagebox');  
        container.appendChild(msg);
    }

</script>
{% endblock %}
-->