{% extends 'base.html' %} {% block title %} Home {% endblock%} 
{% block content%}
<div class="px-4 text-center bg-dark text-white">
    <h3 class="display-7 mx-auto my-4 fw-bold">Welcome to {{chatroom}}, {{nickname}}!</h3>
</div>
<div id="chatbox" class="container bg-dark m-3 vw-90">
    <input type="text" id="messageInput" class="col my-3 form-control-sm w-75" placeholder="Type message..." aria-label="messageInput" aria-describedby="basic-addon1" required>
    <button type='button' id="messagebtn" class='btn btn-primary btn px-3 mx-1' onClick="sendMessage()">Send Message</button>
    <form id="disconnectform" class="col mx-auto"><button type='button' id="disconnectbtn" class='btn btn-primary btn px-3 mx-1' onClick="disconnect()">Disconnect</button></form>
</div>
<div id="chatwindow" class="bg-dark-subtle m-3 p-2 vw-90 vh-90 rounded border border-3 border-dark-subtle">
</div>
{% endblock %}
{% block jsScript%}
<script>
    const pos_tags ={
        'CC': '#E57373', 
        'CD': '#F06292',
        'DT': '#BA68C8',
        'EX': '#9575CD',
        'FW': '#7986CB',
        'IN': '#64B5F6',
        'JJ': '#4FC3F7',
        'JJR': '#4FC3F7',
        'JJS': '#4FC3F7',
        'LS': '#4DD0E1',
        'MD': '#4DB6AC',
        'NN': '#81C784',
        'NNS': '#81C784',
        'NNP': '#81C784',
        'NNPS': '#81C784',
        'PDT': '#AED581',
        'POS': '#DCE775',
        'WRB': '#FFF176',
        'WP$': '#FFF176',
        'WP': '#FFF176',
        'WDT': '#FFF176',
        'VBZ': '#FFD54F',
        'VBP': '#FFD54F',
        'VBN': '#FFD54F',
        'VBG': '#FFD54F',
        'VBD': '#FFD54F',
        'VB': '#FFD54F',
        'UH': '#FFB74D',
        'TO': '#FF8A65',
        'RP': '#A1887F',
        'RBS': '#E0E0E0',
        'RB': '#E0E0E0',
        'RBR': '#E0E0E0',
        'PRP': '#90A4AE',
        'PRP$': '#90A4AE',
    }

    const chatroom = "{{chatroom}}"
    const nickname = "{{nickname}}"
    console.log(chatroom, nickname)
    chatSocket = new WebSocket('ws://'+ window.location.host + '/ws/chat/'+chatroom+"/"+nickname+"/")
    chatSocket.onopen = function(e) {
        console.log("Joined global chat")
    }
    function sendMessage(){
        if(document.getElementById("messageInput").value !== ''){
            const message = document.getElementById("messageInput").value
            chatSocket.send(JSON.stringify({
                'room_id':chatroom,
                'username': nickname,
                'message': {
                    'notify' : false,
                    'text' : message
            }
            }))
            document.getElementById("messageInput").value = ''
        }
    }
    function disconnect(){
        const form = document.getElementById("disconnectform")
        form.setAttribute("action","http://"+window.location.host+"/chat/")
        chatSocket.close()
        form.submit()

    }
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data.message;
        if(!message.notify){
            if(typeof(message.text) === 'string' && message.data !== null){
                if(data.username === nickname){
                    setMessage(data.username, message.text, true)
                }else{
                    setMessage(data.username, message.text, false);
                }
            } else{
                if(data.username === nickname){
                    setToken(data.username, message.text, true)
                }else{
                    setToken(data.username, message.text, false)
                }
            }
        }else{
            setNotification(message.text);
        }
    };

    function setMessage(nickname, message, owner){
        console.log(message)
        var body = document.createElement('div')
        if(owner){
            body.setAttribute("class", "bg-primary p-2 ms-5 rounded border border-2 border-dark-subtle text-white text-end")
        }else{
            body.setAttribute("class", "bg-dark p-2 me-5 rounded border border-2 border-dark-subtle text-white")
        }
        var user = document.createElement('div')
        user.appendChild(document.createTextNode(nickname+":"))
        user.setAttribute("class", "fs-6 fst-italic text-grey")
        var msg = document.createElement('div');
        var message = document.createTextNode(message);
        msg.appendChild(message);
        var container = document.getElementById('chatwindow');  
        body.appendChild(user)
        body.appendChild(msg);
        container.appendChild(body)
    }
    
    function setToken(nickname, message, owner){
        console.log(message)
        var body = document.createElement('div')
        if(owner){
            body.setAttribute("class", "bg-primary px-3 ms-5 rounded border border-2 border-dark-subtle text-white text-end")
        }else{
            body.setAttribute("class", "bg-dark px-3 me-5 rounded border border-2 border-dark-subtle text-white")
        }
        var user = document.createElement('div')
        user.appendChild(document.createTextNode(nickname+":"))
        user.setAttribute("class", "row fs-6 fst-italic text-grey")
        var msg = document.createElement('div');
        msg.setAttribute("class", "row fs-6 text-black")
        for(const key in message){
            var word = document.createElement('div')
            word.appendChild(document.createTextNode(key))
            word.setAttribute("class", "w-auto fs-7 m-1 px-2 rounded text-center")
            if(message[key] in pos_tags){
                word.style.backgroundColor = pos_tags[message[key]]
            } else{
                console.log("This colour is not in list")
                word.style.backgroundColor = "#AAAAAA"
            }
            msg.appendChild(word)
        }
        var container = document.getElementById('chatwindow'); 
        body.appendChild(user)
        body.appendChild(msg);
        container.appendChild(body)
    }

    function setNotification(message){
        var msg = document.createElement('div');
        var message = document.createTextNode(message);
        msg.appendChild(message);
        msg.setAttribute("class", "")
        var container = document.getElementById('chatwindow');  
        container.appendChild(msg);
    }
</script>
{% endblock%}