{% extends 'base.html' %} {% block title %} Home {% endblock%} 
{% block content%}
<div class="px-4 text-center bg-dark text-white">
    <h3 class="display-7 mx-auto my-4 fw-bold">Welcome to {{chatroom}} {{nickname}}</h3>
</div>
{% endblock %}
{% block jsScript%}
<script>
    const chatroom = "{{chatroom}}"
    const nickname = "{{nickname}}"
    console.log(chatroom, nickname)
    chatSocket = new WebSocket('ws://'+ window.location.host + '/chat/'+chatroom+"/")
    chatSocket.onopen = function(e) {
        console.log("Joined global chat")
    }
</script>
{% endblock%}